@page "/CovidCounter/{Area}"
@inject NavigationManager navigationManager

<div class="card border-@Theme mb-3 shadow" style="max-width: 18rem;">
    <div class="card-header"><a href="/CovidCounter/@Area" class="h3 text-@Theme">@Area</a></div>
    <div class="card-body text-@Theme">
        <h1 class="card-title text-center h1" style="cursor: pointer" @onclick="ClickLabel" @ondblclick="DoubleClickLabel">@(Count.HasValue ? Count.Value.ToString() : "--")</h1>
    </div>
</div>

@code {
    [Parameter]
    public string Area { get; set; }

    private int? count = null;

    public int? Count
    {
        get => count;
        set
        {
            count = value.HasValue ? Math.Max(0, value.Value) : value;
            this.Theme = GetTheme(count);
        }
    }

    public string Theme { get; set; } = "success";

    private string GetTheme(int? count) => count switch
    {
        null => "secondary",
        int c when c <= 0 => "success",
        int c when c < 10000 => "warning",
        _ => "danger",
    };

    private void ClickLabel()
    {
        if (this.Count.HasValue) this.Count++;
        this.Logger.LogInformation(this.Count.ToString());
    }

    private void DoubleClickLabel()
    {
        navigationManager.NavigateTo($"/PublishCounter/{Area}");
    }
}
