@page "/CovidCounters"

<div class="container-fluid">
    <div class="row justify-content-around" style="margin:10px">
        <h1>Covid Counter</h1>
        <p>Areas count: @Areas.Count()</p>
        <button class="btn btn-primary" @onclick="RefreshAreaCounters">Refresh</button>
    </div>

    <div class="card-columns">
        @foreach (var area in Areas)
        {
            <CovidCounter Area="@area" @ref="CovidCounterList.Add((CovidCounter)__value);//" />
        }
    </div>
</div>

@code {
    public IEnumerable<string> Areas { get; set; }

    public IList<CovidCounter> CovidCounterList { get; set; } = new List<CovidCounter>();

    private async Task RefreshAreaCounters()
    {
        this.Logger.LogInformation($"{nameof(RefreshAreaCounters)} : 手动刷新...");
        foreach (var covidCounter in CovidCounterList)
        {
            await covidCounter.RefreshCount();
        }
    }
}
