@page "/CovidCounters"

    <div class="row justify-content-around" style="margin:10px">
        <h1>Covid Counter</h1>
        <p>Areas count: @Areas.Count()</p>
        <button class="btn btn-primary" @onclick="RefreshAreaCounters">Refresh</button>
    </div>

    <div class="card-deck">
        @foreach (var area in Areas)
        {
            <CovidCounter Area="@area" />
        }
    </div>

    @code {
        [Parameter]
        public IEnumerable<string> Areas { get; set; }

        private void RefreshAreaCounters()
        {
        }
    }
