<div class="form-group row text-@(CurrentTodo.Done?"secondary":"primary")" style="margin:unset">
    <input type="checkbox" id="checkboxDone" class="form-control-sm col-sm-1" value="@CurrentTodo.Done" @onchange="OnCheckboxChange" />
    <p class="col-sm-11 align-middle h3" style="margin:unset">@CurrentTodo.Title</p>
</div>

@code {
    [Parameter]
    public TodoItem CurrentTodo { get; set; }

    [Parameter]
    public EventCallback<TodoItem> CurrentTodoUpdate { get; set; }

    private async Task OnCheckboxChange(ChangeEventArgs args)
    {
        CurrentTodo.Done = (bool)args.Value;

        if (!CurrentTodoUpdate.HasDelegate) return;
        await CurrentTodoUpdate.InvokeAsync(this.CurrentTodo);
    }
}
